/**
 * Additional styles.
 */


/* Helper classes %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Layout helper classes
-------------------------------------------------------------- */
.section-container {}
.section { padding:10px 0; }
.section-space { padding:10px; }
.margin-top { margin-top:20px; }
.margin-bottom { margin-bottom:20px; }
.padding-top { padding-top:20px; }
.padding-bottom { padding-bottom:20px; }
.float-left { float:left; }
.float-right { float:right; }



/* Additional styling for grid elements %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Nav container: stretched or with side padding
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Add top margin for nav element, the same value as left and right margin of the grid unit,
   and remove margin if stretched */
.nav > .grid-full { float:left; margin-top:1%; }
.nav.stretched > .grid-full { margin-top:0; }


/* Cart
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* Collateral boxes - stretch */
.cart-left-column .grid-full,
.cart-right-column .grid-full { width:100%; }



/* Misc %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



/**
 *
 *
 *
 * Common styles
 *
 *
 *
 */



/* Common styles %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Override specific classes to change colors, fonts, backgrounds etc. */


/* Sizes
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.header-top,
.header .dropdown { line-height:2.6666em; } /* line-height:32px; */


/* Blocks
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/**/
.sidebar .block:first-child { margin-top:6px; } /* To align with page title */
.cms-index-index .sidebar .block:first-child { margin-top:0; } /* Remove margin on home page */

 
/* Headings
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Secondary headings
-------------------------------------------------------------- */

/* Account */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,

/* Forms headings */
.fieldset .legend,

/* Log in */
.account-login h2,

/* Checkout log in */
#opc-login h3,

/* Multiple checkout */
.multiple-checkout .col2-set h2.legend,
.info-set h2.legend
{
	font-size:1.5em; /*18px*/
	font-weight:normal;
	text-transform:uppercase;
}

/* Headings with bottom border */
.account-login h2,
#opc-login h3 { border-bottom:1px solid #e5e5e5; padding-bottom:5px; }


/* Section headings
-------------------------------------------------------------- */

/* Sidebar blocks */
.block .block-title,

/* Section title */
.section-title,

/* Cart */
.cart .crosssell h2,
.cart .discount h2,
.cart .shipping h2
{
	/* padding:13px 0 7px; */ /*TODO*/
	padding-top:7px;
	padding-bottom:7px;
	border-bottom:1px solid #e5e5e5;
	font-weight:normal;
	font-size:1.5em; /*18px*/
	line-height:1.2222em; /*22px*/
}

/* Account headings
-------------------------------------------------------------- */

/* Primary */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2 {}

/* Secondary */
.dashboard .box .box-title h3,
.dashboard .box .box-title h4,
.order-info-box h2 {}


/* Borders
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Elements with horizontal border - normal
-------------------------------------------------------------- */
/* CMS */
.section-line,

/* Page title */
.my-account .page-title,
.category-title,

/* Misc */
.toolbar 
{ border-color:#e5e5e5; }

/* Elements with horizontal border - lighter
-------------------------------------------------------------- */
/* Product page - Add-to-cart area */
.product-view .product-type-data .price-box,
.container1-wrapper,
.container2-wrapper,
.product-view .add-to-box,

/* Product grid/list */
.category-products-grid .item,
.products-list li.item,

/* Pop-ups */
.remember-me-popup h3,
.map-popup-heading
{
	border-color:#f5f5f5;
}

/* Elements with vertical border - normal
-------------------------------------------------------------- */
/* Product page */
.product-secondary-column .inner,
.product-view .box-sidebar .box-sidebar-inner
{
	border-color:#e5e5e5;
}

/* Elements with vertical border - lighter
-------------------------------------------------------------- */
/* Product grid/list */
.products-list .product-shop-inner
{
	border-color:#f5f5f5;
}


/* Colors
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Elements with light gray background
-------------------------------------------------------------- */
/* Account */
.addresses-list .addresses-primary .item,
.order-info-box,

/* Advanced search */
.advanced-search-summary,

/* Checkout */
.opc .gift-messages-form
{
	background-color:#f5f5f5;
}

/* Elements with lighter text
-------------------------------------------------------------- */
/* Forms */
.form-list label,

/* Product grid/list */
.products-list .ratings,
.products-grid .ratings,
.products-list .ratings a,
.products-grid .ratings a,

/* Breadcrumbs */
.breadcrumbs li,
.breadcrumbs a,

/* Layered nav */
.block-layered-nav dd li,

/* Availability */
.availability,

/* Reviews */
.product-view .box-reviews dd .date,

/* Product options */
.item-options dd,
.product-options p.note,

/* Prices */
.price-notice .price,
.tier-prices li,

/* MSRP price and old price */
.old-price,
.map-popup-msrp .price
{
	color:#aaa;
}

/* Breadcrumbs */
.breadcrumbs li,
.breadcrumbs a { color:#c5c5c5; }

/* Elements with darker border
-------------------------------------------------------------- */
/* Cart */
.data-table thead,
.cart-table thead tr,

/* Availability */
.availability-only-details thead
{
	border-color:#e5e5e5; /*Currently the same color as other borders*/
}

/* Interface elements (like buttons or special links) with background color
-------------------------------------------------------------- */
/*.btn-remove,
.btn-remove2,
.btn-edit,
.tool-tip .btn-close a {}*/



/* Effects %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Shadows: for pop-ups, drop-downs etc.
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* IE version included */
#nav .level0-wrapper,
#nav.classic .parent > ul,

/* Mini cart */
#mini-cart .block-content,
.truncated .truncated_full_value .item-options,

/* Compare drop-down */
.header .block-compare .block-content,

/* Search autocomplete */
.header .form-search .search-autocomplete ul,

/* Dropdown */
.open > .dropdown-toggle.cover,
.dropdown-menu,

/* Pop-ups and tooltips */
.remember-me-popup,
.map-popup,
.tool-tip,
#subscribe-form .input-box .validation-advice
{
	-moz-box-shadow:0 2px 10px rgba(0,0,0, 0.15);
	-webkit-box-shadow:0 2px 10px rgba(0,0,0, 0.15);
	box-shadow:0 2px 10px rgba(0,0,0, 0.15);
}


/* Transitions
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* Product image (and other elements)
-------------------------------------------------------------- */
.product-image img {
	transition:			opacity 300ms ease-in-out;
	-moz-transition:	opacity 300ms ease-in-out;
	-webkit-transition:	opacity 300ms ease-in-out;
	-o-transition:		opacity 300ms ease-in-out;
}
.product-image img:hover { opacity:0.85; filter:alpha(opacity=85); }

	/* Remove this transition in product grid. Raplace it with "on item hover" transition. */
	.products-grid .product-image img:hover { opacity:1; }
	/*
	.products-grid .item:hover .product-image img { opacity:0.85; }
	*/

/* Links and other selected elements
-------------------------------------------------------------- */
a,
.feature div.icon,
#mobnav-trigger .icon .line,
.accordion .opener
{
	transition:			color 450ms ease-in-out, background-color 450ms ease-in-out;
	-moz-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-webkit-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-o-transition:		color 450ms ease-in-out, background-color 450ms ease-in-out;
}
a:hover,
.feature:hover div.icon,
#mobnav-trigger:hover .icon .line,
.accordion .opener:hover
{
	transition-duration:			100ms;
	-moz-transition-duration:		100ms;
	-webkit-transition-duration:	100ms;
	-o-transition-duration:			100ms;
}

/* Accordions & tabs
-------------------------------------------------------------- */
.gen-tabs .tabs a,
.gen-tabs .acctab,

/* OPC accordion */
.opc .step-title
{
	transition:			color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

/* Elements with animated color and borders
-------------------------------------------------------------- */
/* Forms */
input.input-text, select, textarea,
.product-options ul.options-list,

/* Product image thumbnails */
.product-view .product-img-box .more-views .thumbnails li a,

/* Product mini-lists */
.mini-products-list .product-image,
.cart .crosssell .product-image
{
	transition:			color 300ms ease-in-out, border-color 300ms ease-in-out;
	-moz-transition:	color 300ms ease-in-out, border-color 300ms ease-in-out;
	-webkit-transition:	color 300ms ease-in-out, border-color 300ms ease-in-out;
	-o-transition:		color 300ms ease-in-out, border-color 300ms ease-in-out;
}

/* Structural elements
-------------------------------------------------------------- */
/* Layered nav */
.block-layered-nav dd li,

/* Grid */
.grid12-1,
.grid12-2,
.grid12-3,
.grid12-4,
.grid12-5,
.grid12-6,
.grid12-7,
.grid12-8,
.grid12-9,
.grid12-10,
.grid12-11,
.grid12-12,
.grid-full,
.grid-col2-sidebar,
.grid-col2-main,

/* deprecated */
.grid4-1,
.grid4-2,
.grid4-3,
.grid2-1,
/* end:deprecated */

/* Products */
.product-view .product-img-box,

/* Misc */
.header .logo,

/* Menu */
#nav > li
{
	transition:			all 300ms ease-in-out;
	-moz-transition:	all 300ms ease-in-out;
	-webkit-transition:	all 300ms ease-in-out;
	-o-transition:		all 300ms ease-in-out;
}


/* Shadow for the main containers
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.shadow .show-bg {
	-moz-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:	0 2px 3px rgba(0, 0, 0, 0.1);
	box-shadow:			0 2px 3px rgba(0, 0, 0, 0.1);
}



/**
 *
 *
 *
 * Built-in static block
 *
 *
 *
 */



/* Category page */
.block_category_above_collection { margin:10px 0; }
.block_category_below_collection { margin:10px 0; }
.block_category_above_empty_collection { margin:10px 0; }

/* Product page */
	
	/* Main blocks */
	.block_product_primary_bottom { border-top:1px solid #f5f5f5; margin:10px 0 0; padding:15px 0 0; }
	.block_product_primary_bottom .addthis_toolbox {}
	.block_product_secondary_bottom { margin:15px 0; }

	/* Static blocks replacing related and up-sell products */
	.block_product_replace_related {}
	.block_product_replace_related {}
	
/* Cart */
.block_cart_below_totals {}
.block_cart_below_table {}

/* Mini cart */
.block_mini_cart_above_products { margin:0 0 10px; }

/* OPC */
.block_opc_below_progress { margin:15px 0; }

/* CMS pages */
.block_cms_page_top { margin:0 0 15px; }

/* Header */
.block_header_top_help {}
.block_header_links_upper {}
.block_header_top_right {}

/* Footer */
.block_footer_primary_bottom_left {}
.block_footer_primary_bottom_right {}
.block_footer_payment { margin-right:10px; margin-bottom:10px; margin-left:20px; }


/* Sample block content
-------------------------------------------------------------- */
.sample-block {
	border:2px dotted #ddd;
	color:#999;
	margin-top:10px;
	padding:10px;
}
.sample-block:hover {
	color:#555;
}
