
/* Reset negative value of the top margin of old prices */
.product-view .product-shop .price-box .old-price { margin-top:0; }

/* Remove icon */
button.btn-checkout span span .img-checkout { display:none; }

/* Enforce floating for second level links block */
#nav ul.level0 > li { float:left !important; }



/* clearer: IE6/7 */
.clearer {
	display:block; clear:both; height:auto; overflow:hidden;
	/*font-size:12px; line-height:15px;*/
}

/* Clearing */
.cart .crosssell {
	display:block; clear:both; height:auto; overflow:hidden;
	/*font-size:12px; line-height:15px;*/
}

/* Vertically aligned grid
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.container .v-grid {
	float:left;
	display:block;
	width:32%;
}

.container .user-menu { float:right; }
.container .header-top-search-wrapper { margin-top:25px; }