/**
 * Generic interface elements
 */



/* Text box with icon %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.feature-wrapper {}
.feature { margin:10px 0; }
.feature:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
.feature.first { margin-top:0; }
.feature.last { margin-bottom:0; }

/* Headings
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.feature .heading {
	font-size:1.3333em; /*16px*/
	line-height:1.25em; /*20px*/
	margin-bottom:0.625em; /*10px*/
	font-weight:normal;
}
.feature .above-heading {
	margin:0 0 5px;
	font-size:11px;
	line-height:1.4545em; /*16px*/
    text-transform:uppercase;
	color:#888;
}
.feature .below-heading {
	font-size:1em;
	font-style:italic;
    line-height:1.3333em; /*16px*/
	color:#888;
}

/* Icons
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.feature .icon {
	float:left;
}
.feature div.icon {
	max-width:100%;
	background-color:#999;
	background-position:0 0;
	background-repeat:no-repeat;
	border-radius:50%;
}
.feature:hover div.icon {
	background-color:#333;
}

	/* Predefined background image icons */
	/*.feature div.icon.phone		{ background-image:url(../../../images/infortis/_shared/cck/icons/phone.png); }
	.feature div.icon.mobile	{ background-image:url(../../../images/infortis/_shared/cck/icons/mobile.png); }
	.feature div.icon.email		{ background-image:url(../../../images/infortis/_shared/cck/icons/email.png); }
	.feature div.icon.skype		{ background-image:url(../../../images/infortis/_shared/cck/icons/skype.png); }*/
	/* Default icon
	-------------------------------------------------------------- */
	.feature .icon { padding:3px; margin:0 15px 10px 0; }

	/* Small icon
	-------------------------------------------------------------- */
	.feature.small .icon { padding:0; margin:0 10px 10px 0; }
	/*.feature.small div.icon {
		background-position:0 0;
		background-repeat:no-repeat;
		border-radius:0;
	}*/
	
		/* Small icon: predefined background image icons */
		.feature.small div.icon.list1 { background-image:url(../../../images/infortis/_shared/cck/list/list1.png); }
		.feature.small div.icon.list2 { background-image:url(../../../images/infortis/_shared/cck/list/list2.png); }

	/* Large icon
	-------------------------------------------------------------- */
	.feature.large .icon { padding:5px; margin:0 15px 10px 0; }
	
	/* Additional classes
	-------------------------------------------------------------- */
	/* Icon without background color */
	.feature .icon.no-bg-color { background-color:transparent !important; }


/* Indent
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.feature.indent .icon { margin-bottom:0; }

	/* Default
	-------------------------------------------------------------- */
	.feature.indent { padding-left:51px; }
	.feature.indent .icon { max-width:30px; max-height:30px; margin-left:-51px; margin-bottom:0; }

	/* Small
	-------------------------------------------------------------- */
	.feature.small.indent { padding-left:28px; }
	.feature.small.indent .icon { max-width:18px; max-height:18px; margin-left:-28px; }
	
	/* Large
	-------------------------------------------------------------- */
	.feature.large.indent { padding-left:75px; }
	.feature.large.indent .icon { max-width:50px; max-height:50px; margin-left:-75px; }


/* With top/bottom border line
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.feature.top-border { border-top:1px solid #f5f5f5; padding-top:10px; }
.feature.bottom-border { border-bottom:1px solid #f5f5f5; padding-bottom:10px; }

/* Wrapper With top/bottom line
-------------------------------------------------------------- */
.feature-wrapper.top-border {
	border-top:1px solid #f5f5f5;
	margin-top:20px;
	padding-top:20px;
}
.feature-wrapper.bottom-border {
	border-bottom:1px solid #f5f5f5;
	margin-bottom:20px;
	padding-bottom:20px;
}



/* Misc %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

a.go {
	background:url(../../../images/infortis/_shared/cck/bullet.png) 97% 50% no-repeat;
	padding-right:17px;
	display:inline !important;
}
