<?php
/**
 * @see Mage_Page_Block_Template_Links
 */
?>

<?php if (Mage::helper('ultimo')->getCfg('header/compare')): ?>
	<?php $tmpHtml = $this->getChildHtml('compareMini'); ?>
	<?php if ($tmpHtml): ?>
		<?php echo $tmpHtml; ?>
	<?php endif;?>
<?php endif;?>
    
<?php $_links = $this->getLinks(); ?>
<?php if(count($_links)>0): ?>
<ul class="links"<?php if($this->getName()): ?> id="<?php echo $this->getName() ?>"<?php endif;?>>
    <?php foreach($_links as $_link): ?>
        <?php if ($_link instanceof Mage_Core_Block_Abstract):?>
            <?php echo $_link->toHtml() ?>
        <?php else: ?>

			<?php
            $classes = '';
            
            if ($_link->getIsFirst())
            {
                $classes .= 'first';
            }
            
            if ($_link->getIsLast())
            {
                $classes .= ' last';
            }
        	?>

            <li <?php if($classes): ?>class="<?php echo $classes; ?>"<?php endif;?> <?php echo $_link->getLiParams() ?>><?php echo $_link->getBeforeText() ?><a href="<?php echo $_link->getUrl() ?>" title="<?php echo $_link->getTitle() ?>" <?php echo $_link->getAParams() ?>><?php echo $_link->getLabel() ?></a><?php echo $_link->getAfterText() ?></li>
        <?php endif;?>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
